// index.html
extends _layout
block title
	title JillBee | Fresh salads delivered.

block section
	section.hero
		.hero__content
			h1.hero__header jillbee
			span.hero__subHeader Fresh salads delivered.
			a.hero__btn-continue(href='#')
				span.hero_btn-continue-icon.collecticon.collecticon-triangle-down
